body, html {
  size: var(--el-font-size-base);
  color: var(--el-color-black);
}
a {
  color: var(--el-color-primary);
}

/**
 * @name: sww
 * @date: 2021-07-06
 * @desc: 滚动条样式
 */
@mixin base-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 0.3);
    border: 2px solid transparent;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, 0.3);
  }
}


* {
  box-sizing: border-box;
  vertical-align: baseline;
  @include base-scrollbar;
}

/**
 * @desc: dialog框上下左右居中
 * @name: sww
 * @date: 2022-02-08
 */
.el-dialog__center {
  margin: 50vh auto 0 !important;
  transform: translate(0, -50%);
}

.el-input__prefix-inner,
.el-input__suffix-inner{
  display: inline-flex;
  align-items: center;
}


/* vab-dropdown下拉动画 */
.vab-dropdown {
  &-active {
    transform: rotateZ(180deg);
  }
}

.dsl-input .el-input__wrapper {
  width: 200px;
}

.form-info {
  margin-bottom: $base-padding;
  word-break: break-all;
  font-size: 13px;

  &__title {
    font-weight: bold;
  }
}

#nprogress .bar {
  z-index: 3000;
}

.el-form--inline .el-form-item {
  margin-right: 12px;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
/***flex相关****/
.flex {
  display: flex;
}
.flex_direction_column{
 flex-direction: column; 
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
/****/
.border_bottom {
  border-bottom: 1px solid #E4E7ED  ;
}
.border-shadow {
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}
/**margin padding**/
.mt-10 {
  margin-top: 10px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-28 {
  padding-top: 28px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
